/* Header Styles */

header {
    background-color: azure;
    border-radius: 35px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0.9;   
    margin-top: 40px;
    height: 220px;
}

header ul {
    list-style-type: none;
    margin-top: -15px;
    padding: 0;
    background: transparent;
    display: flex;               
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header ul li {
    margin: 0 15px;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgb(102, 0, 255);
}

header ul li h1 {
    margin: 0 10px;
    font-family: bungee, sans-serif;
    font-size: 200%;
    text-decoration: underline;
    text-decoration-color: rgb(106, 169, 252);
    text-shadow: 2px 2px 5px rgb(106, 169, 252);
}

header ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgb(102, 0, 255);
}

header ul li a.active {
    text-decoration: underline;
    text-decoration-color:rgb(31, 229, 235);
    text-shadow: 2px 2px 5px rgb(31, 229, 235);
}

.contact-info {
    list-style-type: none;
    margin-top: -30px;
    padding: 0;
    overflow: hidden;
    background: transparent;
}

.contact-info li {
    font-size: 20px;
    margin-right: 15px;
}

.contact-info li a:hover {
    color: rgb(243, 243, 246);
}

/* Social Media Icons */

#github {
    width: 66px;
    height: 66px;
    margin-bottom: -40px;
    margin-right: -4px;
    margin-left: -7px;
}

#linkedin {
    width: 53px;
    height: 53px;
    margin-bottom: -34px;
}

#resume {
    width: 57px;
    height: 53px;
    margin-bottom: -33px;
    margin-right: -3px;
}

#email {
    width: 62px;
    height: 62px;
    margin-bottom: -37px;
}

#phone {
    width: 42px;
    height: 42px;
    margin-bottom: -2px;
    margin-left: -3px;
}

/* About-Me Styles */

#about-me {
    background-color: #a8d1f8;
    margin: auto;
    border-radius: 17px;
    width: 90%;
    display: flex;
    justify-content: center;
}

#about-me a {
    color: rgb(7, 53, 203);
}
#about-me a:hover {
    color: rgb(99, 61, 237);
}

#about-me ul {
    list-style-type: none;
}

#about-me #greeting ul {
    list-style-type: none;
    margin-left: -55px;
}

#about-me #greeting ul li{
    margin-top: -20px;
    margin-bottom: -20px;
}

#about-me ul li ul {
    margin-left: -45px;
    list-style-type:square;
}

/* About-me Image Styles */

#selfie {
    width: 300px;
    height: 300px;
    border-radius: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

#emoji {
    height: 26px;
    width: 30px;
    margin-bottom: -3px;
    margin-left: 2px;
}

/* Education Styles */

#education {
    background-color: #a8d1f8;
    border-radius: 17px;
    width: 92%;
    padding-bottom: 10px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

#education ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#education a {
    color: rgb(0, 0, 0);
}

#education a:hover {
    color: rgb(99, 61, 237) ;
}

.school-info {
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 410px;
    margin: auto;
    margin-left: 7px;
    margin-right: 7px;
}

/* School Styles */

#rpi_logo {
    margin-bottom: -90px;
    height: 70px;
    width: 70px;
    margin-left: -30px;
}

#wissLogo {
    height: 80px;
    width: 70px;
    margin-bottom: -90px;
    margin-left: -10px;
}

/* Experience Styles */

#experience {
    background-color: #a8d1f8;
    margin: auto;
    border-radius: 17px;
    width: 90%;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 30px;
}

#experience ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#experience a {
    color: black;
}

#experience a:hover {
    color: rgb(99, 61, 237) ;
}

/* Job Mascot Styles */

#opex {
    margin-top: 5px;
    height: 80px;
    width: 300px;
    margin-bottom: -22px;
    margin-left: 10px;
}

#paLogo {
    height: 110px;
    width: 280px;
    margin-bottom: -48px;
}

#actsLogo {
    height: 100px;
    width: 200px;
    margin-bottom: -40px;
}

/*Skills Styles */

#skills {
    background-color: #a8d1f8;
    border-radius: 17px;
    width: 90%;
    padding-bottom: 10px;
    margin: auto;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 10px;
}

.skills-list {
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    width: 800px;
    text-align: left;
}

#skills ul {
    list-style-type: none;
}

/* Projects Styles */

#projects {
    background-color: #a8d1f8;
    border-radius: 17px;
    width: 90%;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

#projects ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#projects ul li .activity-item a {
    color: rgb(7, 53, 203);
}

#projects ul li .activity-item a:hover {
    color: rgb(99, 61, 237) ;
}

/* General Styles */

section {
    background-color: rgb(240, 255, 255, 0.9);
    border-radius: 30px;
    width: 65%;
    margin: auto;
    padding-bottom: 20px;
}

section h2 {
    text-shadow: 2px 2px 5px rgb(26, 116, 243);  
    text-align: center;
    font-size: 35px;
    margin-bottom: -15px;
}

.activity-item {
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
    margin-right: 7px;
    margin-left: 7px;
}

.activity-item p {
    margin:-10px;
    font-size: 16px;
}

.centered-item {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-shadow: 2px 2px 5px rgb(138, 222, 255);  
    font-size: 25px;
}

h4 {
    text-shadow: 2px 2px 5px rgb(138, 222, 255);  
    font-size: 20px;
    margin-bottom: -1px;
}

p {
    text-shadow: 2px 2px 5px rgb(173, 175, 228);
    margin-bottom: -12px;
    font-size: 17px;
}

@font-face {
    font-family: bungee;
    src: url(../Fonts/BungeeLayers-Regular.otf);
}

body {
    font-family: bungee;
    background-image: url('../Images/background_image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 4450px;
}

/* This is for background animation effects */
.parallax {
    position: relative;
    will-change: transform;
}